body {
    font-family: "Chiron GoRound TC", sans-serif;
}
.chiron-goround-tc {
    font-family: "Chiron GoRound TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}